[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-bash"]
	path = bundle/vim-bash
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/goldenView"]
	path = bundle/goldenView
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "bundle/vim-easydir"]
	path = bundle/vim-easydir
	url = https://github.com/dockyard/vim-easydir.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "bundle/superTab"]
	path = bundle/superTab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/semantic-highlight"]
	path = bundle/semantic-highlight
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "bundle/hdevtools"]
	path = bundle/hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "bundle/vimbed"]
	path = bundle/vimbed
	url = http://github.com/ardagnir/vimbed
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/fastFold"]
	path = bundle/fastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/utilsnips"]
	path = bundle/utilsnips
	url = https://github.com/SirVer/ultisnips.git
